configuration {
	display-drun: "Applications:";
	display-window: "Windows:";
	drun-display-format: "{icon} {name}";
modi: "window,run,drun";
font: "JetBrainsMono Nerd Font 12";
      show-icons: true;
      icon-theme: "Papirus";
}

